/* subPage */
.subVisual{height: 400px;background-size: cover;background-repeat: no-repeat;background-position: center;display: flex;align-items: center;justify-content: center;}
.subVisual--Inner{display: flex;flex-direction: column;align-items: center;}
.subVisual__title{font-size: 3.5rem;color: #fff;font-family: "Noto Sans",sans-serif;font-weight: 300;letter-spacing: 0.1em;}
.subVisual--EtcBox{max-width: max-content;display:flex;align-items: center;padding: 15px 30px;background-color: #fff;justify-content: center;gap: 10px 20px;margin: 20px 0 0 0;}
.subVisual__EtcLink,.subVisual__EtcTitle{font-family: 'Montserrat', sans-serif;font-weight: 300;color: #999;}
.subVisual__EtcLink{}
.subVisual__EtcTitle{color: #999;position:relative;}
.subVisual__EtcTitle::before{content:"";position:absolute;width: 1px;height: 14px;left: -10px;top: 3px;background-color: #aaa;}

/* subPage -- viewPage */
.viewContent{display: flex;padding-top: 100px;}
.contentImgBox{max-width: 540px;width: 100%;}
.contentTextBox{max-width: calc(100% - 540px);width: 100%;padding: 0 0 0 30px;}
.contentInnerBox{padding: 30px 0 30px 0;border-bottom: 1px solid #fff;}

.contentText__Title{font-size: 3rem;color: #fff;font-weight: 400;font-family: 'Montserrat', sans-serif;margin: 0 0 15px 0;    font-family: 'Hahmlet', serif;}
.contentText__Txt{font-size: 1.25rem;color: #fff;font-weight: 400;font-family: 'Montserrat', sans-serif;margin: 0 0 15px 0;    font-family: 'Hahmlet', serif;}

.content--GenresList{display: flex;align-items: center;flex-wrap: wrap;gap: 6px 10px;margin: 20px 0 0 0;}
.content--GenresItems{background-color: #dc143c;padding: 5px 10px;border-radius: 15px;color: #fff;font-size: 1rem;font-weight: 300;}

.content--EtcBox{display: flex;align-items: center;gap:5px 10px;}
.content__EtcItem{font-size: 1rem;color: #fff;font-weight: 600;}
.content__EtcItem svg{margin: 0 4px 0 0;}
.content__underTxt{font-weight: bold;font-style:italic; color:#dc143c;font-size: 1.25rem;}
.content__overViewTxt{font-size: 0.9375rem;color: #fff;font-family: 'Montserrat', sans-serif;line-height: 1.6;letter-spacing: -0.03em;}

.content__watchMovie{color: #dc143c;font-family: 'Montserrat', sans-serif;}
.content__watchMovie svg{margin: 0 10px 0 0;}

.contentInfoList{gap: 6px;display: flex;flex-direction: column;}

.contentInfo__item{display: flex;}
.contentInfo__item b{background-color: #dc143c;padding: 3px 15px;border-radius: 12px;color: #fff;font-size: 0.875rem;font-weight: 300;max-width: 110px;width: 100%;text-align: center;margin: 0 10px 0 0;}
.contentInfo__item span{}

.reviewArea{display: flex;gap: 10px 30px;margin: 100px 0 0 0;justify-content: center;}
.reviewButton{color: #333;font-size: 14px;font-weight: 300;font-family: 'Montserrat', sans-serif;padding: 20px 40px;color: #747691;text-transform: uppercase;letter-spacing: 2px;line-height: 1;border: 2px solid #ecedff;background-color: #fff;border: none;}
.reviewButton.btnReview{}
.reviewButton.btnRelated{background-color: #fe4536;color: #fff;}

.popupArea{position: fixed;display: flex;align-items:center;justify-content: center;background-color: rgba(0,0,0,3);z-index: 1;top: 0;left: 0;width: 100%;height: 100%;}

.popupInner{width: 100%;max-width: 1024px;}
.popupContent{position : relative;width:100%;height: 0;padding-bottom:56.25%;}
.popupContent iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.popupClose{font-size: 2rem;color: #fff;position: absolute;top: -50px;right: 0;cursor: pointer;}
