
.searchForm{border-radius: 5px;overflow: hidden;display: flex;}
.searchInput{padding: 5px 10px;margin: 0;line-height: 0;font-size: 1rem;color: #000;}
.searchButton{padding: 5px 10px;background-color:#dc143c}